@charset "utf-8";
/* CSS Document */
body {
	margin:0 auto;
	padding: 0;
} 
table {
	border:2px #A6DA5B solid;
	width: 800px;
	height: 400px;
	border-collapse: collapse;
	margin-top: 100px;
}
img {
	width: 190px;
	height: 150;
	border: 1px #000000 solid;
}
th {
	color:#FFFFFF;
	font-family: "宋体";
	font-size: 30px;
	background-color: #A6DA5B;
	text-align:left;
}
td {
	line-height: 30px;
	text-align: center;
	font-size: 20px;
}